h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

i {
    background: $primary-color;
    border-radius: 50px;
    color: $white;
    padding: 10px;
}

hr {
    background: $primary-color;
    border: 0;
    margin: 5px auto 20px;
    width: 60px;
    height: 2px;
}

.button {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container {
    max-width: 96%;
    margin: 0 auto;
}

header {
    background: url(/img/background1.svg) bottom center no-repeat, $white;
    background-size: 600px;
    padding: 30px 0;
    text-align: center;

    i {
        background: $white;
        border: 1px solid $secondary-color;
        border-radius: 50px;
        color: $secondary-color;
        padding: 10px;
        margin-bottom: 30px;
    }

    .logo {
        color: $primary-color;
        font-size: 2;
        letter-spacing: 6px;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            font-size: 40px;
        }
    }

    h4 {
        display: block;
        font-size: .575em;
        font-weight: 300;

        @include breakpoint(medium) {
            font-size: .875em;
        }
        font-weight: normal;
        letter-spacing: 6px;
        margin: 4px 0 20px;
        text-transform: uppercase;
    }
}

.container {
    @include grid-row;
    max-width: 98%;
    margin: 0 auto;
}

main {
    background: url(/img/background2.svg) top center no-repeat, $primary-color;
    background-size: 600px;

    .container {
        padding: 60px 0;
    }

    .tag {
        h2 {
            border-bottom: 1px solid $white;
            color: $white;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        p {
            color: $white;
        }

        @include grid-col;

        @include breakpoint(medium) {
            @include grid-col-size(5);
            @include grid-column-offset(1);
        }
    }

    .people {
        text-align: center;

        img {
            max-width: 240px;
            height: auto;
            margin: 0;
            padding: 3px;
            border: 1px solid $white;
            border-radius: 200px;
        }

        @include grid-col;
        @include grid-column-end;

        @include breakpoint(medium) {
            @include grid-col-size(4);
            @include grid-column-offset(1);
        }
    }
}

.services {
    background: $white;
    padding: 60px 0 10px;
    text-align: center;

    .people {
        h3 {
            color: $primary-color;
            font-family: $alt-font;
            font-weight: bold;
        }
    }

    .box {
        background: url(/img/background1.svg) bottom center no-repeat, $light-gray;
        background-size: 600px;
        padding: 40px 0;
        margin: 30px 0;
        max-width: 100%;

        i {
            border-radius: 70px;
            margin-bottom: 20px;
        }

        .one {
            padding: 17px 13px;
        }

        .two {
            padding: 17px 12px;
        }

        .three {
            padding: 17px 15px;
        }

        h4 {
            color: $primary-color;

        }

        .column {
            @include grid-col;

            @include breakpoint(medium) {
                @include grid-col-size(4);
            }
        }
    }
}

footer {
    background: url(/img/background2.svg) top center no-repeat, $medium-gray;
    background-size: 600px;
    color: $white;
    padding: 40px 0;
    text-align: center;

    .address {
        @include grid-col;

        h4 {
            color: $primary-color;
            font-family: $alt-font;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}
