h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

i {
    background: $primary-color;
    border-radius: 50px;
    color: $white;
    padding: 10px;
}

hr {
    background: $primary-color;
    border: 0;
    margin: 5px auto 20px;
    width: 60px;
    height: 2px;
}

.button {
    text-transform: uppercase;
    letter-spacing: 1px;
}

header {
    background: url(/img/background.svg) bottom center no-repeat, $white;
    background-size: 600px;
    padding: 30px 0;
    text-align: center;

    .logo {
        color: $black;
        font-family: $alt-font;
        font-size: 3.5em;
        font-weight: 700;
        letter-spacing: 4px;
        text-shadow:
            1px 0px 1px $primary-color, 0px 1px 1px $primary-color,
            2px 1px 1px $primary-color, 1px 2px 1px $primary-color;
    }

    h4 {
        display: block;
        font-size: 1.2em;
        font-weight: normal;
        letter-spacing: 6px;
        margin: 4px 0 20px;
        text-transform: uppercase;
    }
}

.container {
    @include grid-row;
    max-width: 98%;
    margin: 0 auto;
}

main {
    background: url(/img/background2.svg) top center no-repeat, $primary-color;
    background-size: 600px;

    .container {
        padding: 60px 0;
    }

    .tag {

        h2 {
            border-bottom: 2px solid $white;
            color: $white;
            padding-bottom: 8px;
            margin-bottom: 8px;
        }

        p {
            color: $white;
        }

        @include grid-col;

        @include breakpoint(medium) {
            @include grid-col-size(6);
            @include grid-column-offset(1);
        }
    }

    .graphic {
        @include grid-col;
        @include grid-column-end;

        @include breakpoint(medium) {
            @include grid-col-size(4);
        }
    }
}

.services {
    background: $white;
    padding: 60px 0;
    text-align: center;

    h3 {
        color: $medium-gray;
        font-family: $alt-font;
        font-weight: bold;
        text-align: center;
    }

    i {
        border-radius: 70px;
        padding: 17px 14px;
        margin-bottom: 20px;
    }

    h4 {
        color: $primary-color;

    }

    .box {
        background: $light-gray;
        padding: 40px 0;
        margin: 30px 0;
    }

    .column {
        @include grid-col;

        @include breakpoint(medium) {
            @include grid-col-size(4);
        }
    }
}

footer {
    background: $medium-gray;
    color: $white;
    padding: 60px 0;

    .address {
        @include grid-col;

        @include breakpoint(medium) {
            @include grid-col-size(6);
        }
    }

    .contact {
        @include grid-col;

        @include breakpoint(medium) {
            @include grid-col-size(6);
        }
    }
}
